__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.git/
*.log
*.tmp
*.tar
*.tar.gz
**/checkpoint_final.pth
resources/nnUNet_ckpts/fold_1/
resources/nnUNet_ckpts/fold_2/
resources/nnUNet_ckpts/fold_3/
resources/nnUNet_ckpts/fold_4/
test/
output*/
input*/
